<h1>Create a new user</h1>
<form action="/users" method="post" accept-charset="UTF-8">
  <label for="user[email]">Email:</label>
  <input type="text" name="user[email]"/>
  
  <label for="user[email]">Email:</label>
  <input type="text" name="user[email]"/>

  <label for="user[email]">Email:</label>
  <input type="text" name="user[email]"/>
</form>
